*.o
*.la
*.lo
TAGS
tags
src/tags
src/test/tags

#gcov
*.gcno
*.gcda
libotr-ng-*-coverage.info
libotr-ng-*-coverage/

*~
*#*#

# autotools
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
autoscan.log
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
pkgconfig/libotr-ng.pc

# cachegrind
cachegrind.out.*
cachegrindout.out

# code coverage
coverage.info
*.info.tmp

.deps

*/.dirstamp

gmon.out
